@import "container";
@import 'vars';

.header {
  display: flex;
  background: #000;
  height: 80px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  &__block {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #000000;
    border: none;
    font-family: $primaryFont;
    font-size: 20px;
    line-height: 24px;
    margin-right: 40px;
    transition: 0.2s step-start;

    &--active {
     background-image: url("./assets/Line.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-image: url("./assets/Line.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
    }

  }
  &__images {
    margin-right: 10px;
  }
}
